In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [17]:
#Declare Variables for District Summary DataFrame
total_school = len(school_data_complete["school_name"].unique())
total_students = school_data_complete["Student ID"].count()
total_budget = sum(school_data_complete["budget"].unique())
avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
passing_math = (school_data_complete[school_data_complete["math_score"]>=70]["Student ID"].count()/total_students)*100
passing_reading = (school_data_complete[school_data_complete["reading_score"]>=70]["Student ID"].count()/total_students)*100
overall_passing = (school_data_complete[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70)]["Student ID"].count()/total_students)*100

In [18]:
#Create District Summary Table
district_summary = pd.DataFrame({
    
    "Total Schools": [total_school],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [passing_math],
    "% Passing Reading": [passing_reading],
    "% Overall Passing": [overall_passing]
})


#Format Cells and Values
district_summary.style.format({
    "Total Students": "{:,}",
    "Total Budget": "${:,.2f}",
    "Average Math Score": "{:.3f}",
    "Average Reading Score": "{:.3f}",
    "% Overall Passing": "{:.3f}"
})

In [19]:
#Declare variables for school_summary dataframe
school_group = school_data_complete.groupby(["school_name"])
total_students = school_group.size()
school_type = school_group["type"].first()
total_budget = school_group["budget"].first()
budget_per_student = total_budget/total_students
avg_math_score = school_group["math_score"].mean()
avg_reading_score = school_group["reading_score"].mean()
passing_math = school_data_complete[school_data_complete["math_score"]>=70].groupby(["school_name"]).size()
percent_passing_math = (passing_math/total_students)*100
passing_reading = school_data_complete[school_data_complete["reading_score"]>=70].groupby(["school_name"]).size()
percent_passing_reading = (passing_reading/total_students)*100
overall_passing = (percent_passing_math + percent_passing_reading)/2


#Create School Summary Table
school_summary = pd.DataFrame({
    
    "School Type": school_type,
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing": overall_passing

})

#Format Cells and Values
school_summary.style.format({
     "Total School Budget" : "${:,.2f}"
     #"Average Student Budget": "${:,.2f}",
     #"Overall Passing": "{:.3f}"
})

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [21]:
top_performing_schools = school_summary.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [22]:
top_performing_schools.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323